.navbar{
  font-family: 'Open Sans', sans-serif;
}

.nav-link{
  font-size: 1.1rem;
}

.nav-link:hover{

  color:beige !important;
}

.Emoji{
  margin: 0 3px;
}


.flex-my h2{
  text-align: center;
}


.dark{
  background-color: rgb(75, 74, 74);
}

.darkCard{
  background-color: rgb(133, 128, 128) !important;
  color: white;
}




/* Dark Mode */

.buttonMode{
  position: fixed;
  z-index: 10;
  left: 10px;
  bottom: 10px;
  
  color: yellow !important;
  border-radius: 60px;
}