.navbar{
  font-family: 'Open Sans', sans-serif;
}

.nav-link:hover{

  color:beige !important;
}

.Emoji{
  margin: 0 3px;
}


.flex-my h2{
  text-align: center;
}


.dark{
  background-color: rgb(75, 74, 74);
}

.darkCard{
  background-color: red;
}


.city-card{
  color: red !important
}