
.Emoji{
  margin: 0 3px;
}


.flex-my h2{
  text-align: center;
}


.dark{
  background-color: rgb(75, 74, 74);
}

.darkCard{
  background-color: rgb(133, 128, 128) !important;
  color: white;
}

/* Dark Mode */

.buttonMode{
  position: fixed;
  z-index: 10;
  left: 10px;
  bottom: 10px;
  
  color: yellow !important;
  border-radius: 60px;
}

/* Cards contact me */




.emoji-card{
  color: black;
  margin-right: 5px;
  text-align: center;
}

.emoji-card:hover{
  color: #151cf5;
}

.contact-me-container{
  text-align: center;
  background-color: #ddeff9;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px;
}

.contact-me-container li{
  color: black;
  font-weight: bold;
  font-size: x-large;
}


@media only screen and (min-width: 900px) {
  .contact-me-container{
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
.testHide{
  display: none;
}

}