#footer {
    background-color: rgba(0, 0, 0, 0.858);
    color: rgb(249, 249, 234);
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
  }
  
  ul {
    text-align: center;
  }
  
  #footer li{
    font-size: 150%;
    display: inline;
    margin: 20px;
  }
  
  #footer a{
    text-decoration: none;
    color: rgb(249, 249, 234);
  }
  
  #footer a:hover{
    text-decoration:overline;
    color:rgb(251, 251, 245);
  }
  
  #footer h1{
    text-align: center;
    padding:10px;
  }
  
  @media only screen and (max-width: 450px) {
    #footer li{
      display: block;
      margin: 2px;
    }
  }

  .emoji-footer{
    margin-right: 6px;
  }