/* Home */
.link-home{
    color: black !important;
    text-decoration: none;
  }


.card-home:hover{
    transform: scale(1.02);
    border-bottom: 3px solid #ddeff9 ;
}

#home{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#home h1{
    color: red;
}


.card-home{
    border: 2px solid black;
    margin: 30px 0;
    display: inline-block;
}

.img-home{
    width: 251px;
    height: 250px;
    border-radius: 0px !important;
}