.app {
  /* text-align: center; */
}

#footer{
  background-color: beige;
}

.navbar{
  background-color: bisque;
}

.photo-box{
  position: relative;
  text-align: center;
  border: 2px solid black;
  margin: 40px;
  
}

.photo-box img{
  border: 2px solid red;
  max-width:50%;
  max-height:50%;
  
}

h1{
  text-align: center;
}

.posts div{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  margin: 40px;
  display: inline-block;
  text-align: center;
}

.cardCustom{
  color: red;
  margin: 30px;
  display: inline-block;
}