body { 
  overflow-x: hidden;
}



.navbar{
  background-color: bisque;
  
}

.photo-box{
  position: relative;
  text-align: center;
  border: 2px solid black;
  margin: 40px;
  
}

.photo-box img{
  border: 2px solid red;
  max-width:50%;
  max-height:50%;
  
}

.cardCustom{
  color: red;
  margin: 20px;
  display: inline-block;
}

/* Footer */
#footer {
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.858);
  color: white;
  padding-bottom: 20px;;
  
  
}

ul {
  /* margin: auto; 
  width: 50%; */
  text-align: center;
}

#footer li{
  display: inline-block;
  font-size: 20px;
  display: inline;
  margin: 20px;
  

}

#footer a{
  text-decoration: none;
  color: white;
}

#footer a:hover{
  text-decoration:overline;
  color:beige;
}

#footer h1{
  text-align: center;
  padding: 10px;
}