.app {
  /* text-align: center; */
}

.footer{
  background-color: beige;
}

.navbar{
  background-color: bisque;
}

.photo-box{
  text-align: center;
  border: 2px solid black;
  margin: 40px
}

h1{
  text-align: center;
}

.posts div{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  margin: 40px;
  display: inline-block;
  text-align: center;
}

.cardCustom{
  color: red;
  margin: 30px;
  display: inline-block;
}